.barraBotoesNavegacao, .barraBotoesNavegacaoInv {
	clear: both;
	margin: 4px 0;
	display: block;
}

.barraBotoesNavegacao img,
.barraBotoesNavegacaoInv img,
.barraBotoesNavegacao a, .barraBotoesNavegacao a:hover,
.barraBotoesNavegacaoInv a, .barraBotoesNavegacaoInv a:hover {
	color: #575756;
	text-decoration: none;
	background-repeat: no-repeat;
	width: 22px;
	height: 22px;
	max-width: 22px;
	max-height: 22px;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	margin: 2px;
}

.barraBotoesNavegacao span,
.barraBotoesNavegacaoInv span {
	display: inline-block;
	vertical-align: middle;
	margin: 2px;
	font-size: 1em;
}

.barraBotoesNavegacao img, .barraBotoesNavegacao a, .barraBotoesNavegacao a:hover {
	background-image: url('/recursos/imagens/glyphicons-halflings.png');
}

.barraBotoesNavegacaoInv img, .barraBotoesNavegacaoInv a, .barraBotoesNavegacaoInv a:hover {
	background-image: url('/recursos/imagens/glyphicons-halflings-white.png');
	background-color: #414F55;
}

.barraBotoesNavegacao .inativo,
.barraBotoesNavegacaoInv .inativo {
	opacity: 0.4;
    filter: alpha(opacity=40);
}

.barraBotoesNavegacao a.linkTexto:link, .barraBotoesNavegacao a.linkTexto:hover,
.barraBotoesNavegacao a.linkTexto:active, .barraBotoesNavegacao a.linkTexto:visited {
	background-image: none;
	width: auto;
	max-width: 100%;
	line-height: 22px;
}
.barraBotoesNavegacao a.linkTexto:hover {
	text-decoration: underline;
}

.barraBotoesNavegacao .mensagem {
	display: block;
	float: right;
	background-color: #F3F6F8;
	padding: 5px;
	margin: 5px;
}

.barraBotoesNavegacao .mensagem .atencao {
	color: #C22F18;
	font-weight: bold;
}

/* Icones */

.icone1_1, .iconeCopo {	background-position: 4px 4px;}
.icone1_2, .iconeMusica {	background-position: -20px 4px;}
.icone1_3, .iconeLupa {	background-position: -44px 4px;}
.icone1_4, .iconeEnvelope {	background-position: -68px 4px;}
.icone1_5, .iconeCoracao {	background-position: -92px 4px;}
.icone1_6, .iconeEstrela {	background-position: -116px 4px;}
.icone1_7, .iconeEstrelaInv {	background-position: -140px 4px;}
.icone1_8, .iconePessoa {	background-position: -164px 4px;}
.icone1_9, .iconeFilme {	background-position: -188px 4px;}
.icone1_10, .iconeGrade4x4 {	background-position: -212px 4px;}
.icone1_11, .iconeGrade3x3 {	background-position: -236px 4px;}
.icone1_12, .iconeListaItens {	background-position: -260px 4px;}
.icone1_13, .iconeOk {	background-position: -284px 4px;}
.icone1_14, .iconeCancelar {	background-position: -308px 4px;}
.icone1_15, .iconeZoomMais {	background-position: -332px 4px;}
.icone1_16, .iconeZoomMenos {	background-position: -356px 4px;}
.icone1_17, .iconeLigar {	background-position: -380px 4px;}
.icone1_18, .iconeRede {	background-position: -404px 4px;}
.icone1_19, .iconeConfig {	background-position: -428px 4px;}
.icone1_20, .iconeLixo {	background-position: -452px 4px;}

.icone2_1 {	background-position: 4px -20px;}
.icone2_2 {	background-position: -20px -20px;}
.icone2_3 {	background-position: -44px -20px;}
.icone2_4 {	background-position: -68px -20px;}
.icone2_5 {	background-position: -92px -20px;}
.icone2_6 {	background-position: -116px -20px;}
.icone2_7 {	background-position: -140px -20px;}
.icone2_8 {	background-position: -164px -20px;}
.icone2_9 {	background-position: -188px -20px;}
.icone2_10 {	background-position: -212px -20px;}
.icone2_11 {	background-position: -236px -20px;}
.icone2_12 {	background-position: -260px -20px;}
.icone2_13 {	background-position: -284px -20px;}
.icone2_14 {	background-position: -308px -20px;}
.icone2_15 {	background-position: -332px -20px;}
.icone2_16 {	background-position: -356px -20px;}
.icone2_17 {	background-position: -380px -20px;}
.icone2_18 {	background-position: -404px -20px;}
.icone2_19 {	background-position: -428px -20px;}
.icone2_20 {	background-position: -452px -20px;}

.icone3_1 {	background-position: 4px -44px;}
.icone3_2 {	background-position: -20px -44px;}
.icone3_3 {	background-position: -44px -44px;}
.icone3_4 {	background-position: -68px -44px;}
.icone3_5, .iconeImprimir {	background-position: -92px -44px;}
.icone3_6 {	background-position: -116px -44px;}
.icone3_7 {	background-position: -140px -44px;}
.icone3_8 {	background-position: -164px -44px;}
.icone3_9 {	background-position: -188px -44px;}
.icone3_10 {	background-position: -212px -44px;}
.icone3_11 {	background-position: -236px -44px;}
.icone3_12, .iconeAlinharDireita {	background-position: -260px -44px;}
.icone3_13, .iconeCentralizar {	background-position: -284px -44px;}
.icone3_14, .iconeAlinharEsquerda {	background-position: -308px -44px;}
.icone3_15, .iconeJustificar {	background-position: -332px -44px;}
.icone3_16, .iconeListaTopicos {	background-position: -356px -44px;}
.icone3_17 {	background-position: -380px -44px;}
.icone3_18 {	background-position: -404px -44px;}
.icone3_19 {	background-position: -428px -44px;}
.icone3_20 {	background-position: -452px -44px;}

.icone4_1 {	background-position: 4px -68px;}
.icone4_2 {	background-position: -20px -68px;}
.icone4_3 {	background-position: -44px -68px;}
.icone4_4 {	background-position: -68px -68px;}
.icone4_5 {	background-position: -92px -68px;}
.icone4_6 {	background-position: -116px -68px;}
.icone4_7 {	background-position: -140px -68px;}
.icone4_8 { background-position: -164px -68px;}
.icone4_9, .iconePrimeiroDocumento {	background-position: -188px -68px;}
.icone4_10, .iconePrimeiraPagina {	background-position: -212px -68px;}
.icone4_11, .iconePaginaAnterior, .iconeDocumentoAnterior {	background-position: -237px -68px;}
.icone4_12 {	background-position: -260px -68px;}
.icone4_13 {	background-position: -284px -68px;}
.icone4_14 {	background-position: -308px -68px;}
.icone4_15, .iconeProximaPagina, .iconeProximoDocumento {	background-position: -331px -68px;}
.icone4_16, .iconeUltimaPagina {	background-position: -356px -68px;}
.icone4_17, .iconeUltimoDocumento {	background-position: -380px -68px;}
.icone4_18 {	background-position: -404px -68px;}
.icone4_19 {	background-position: -428px -68px;}
.icone4_20 {	background-position: -452px -68px;}

.icone5_1 {	background-position: 4px -92px;}
.icone5_2 {	background-position: -20px -92px;}
.icone5_3 {	background-position: -44px -92px;}
.icone5_4 {	background-position: -68px -92px;}
.icone5_5, .iconeAjuda {	background-position: -92px -92px;}
.icone5_6 {	background-position: -116px -92px;}
.icone5_7 {	background-position: -140px -92px;}
.icone5_8 {	background-position: -164px -92px;}
.icone5_9 {	background-position: -188px -92px;}
.icone5_10 {	background-position: -212px -92px;}
.icone5_11, .iconeVoltar {	background-position: -236px -92px;}
.icone5_12, .iconeAvancar {	background-position: -260px -92px;}
.icone5_13 {	background-position: -284px -92px;}
.icone5_14 {	background-position: -308px -92px;}
.icone5_15 {	background-position: -332px -92px;}
.icone5_16 {	background-position: -356px -92px;}
.icone5_17 {	background-position: -380px -92px;}
.icone5_18 {	background-position: -404px -92px;}
.icone5_19 {	background-position: -428px -92px;}
.icone5_20 {	background-position: -452px -92px;}

.icone6_1 {	background-position: 4px -116px;}
.icone6_2 {	background-position: -20px -116px;}
.icone6_3 {	background-position: -44px -116px;}
.icone6_4 {	background-position: -68px -116px;}
.icone6_5 {	background-position: -92px -116px;}
.icone6_6 {	background-position: -116px -116px;}
.icone6_7 {	background-position: -140px -116px;}
.icone6_8 {	background-position: -164px -116px;}
.icone6_9 {	background-position: -188px -116px;}
.icone6_10 {	background-position: -212px -116px;}
.icone6_11 {	background-position: -236px -116px;}
.icone6_12 {	background-position: -260px -116px;}
.icone6_13, .iconeParaCima {	background-position: -284px -116px;}
.icone6_14 , .iconeParaBaixo{	background-position: -308px -116px;}
.icone6_15 {	background-position: -332px -116px;}
.icone6_16 {	background-position: -356px -116px;}
.icone6_17 {	background-position: -380px -116px;}
.icone6_18 {	background-position: -404px -116px;}
.icone6_19 {	background-position: -428px -116px;}
.icone6_20 {	background-position: -452px -116px;}

.icone7_1 {	background-position: 4px -140px;}
.icone7_2 {	background-position: -20px -140px;}
.icone7_3 {	background-position: -44px -140px;}
.icone7_4 {	background-position: -68px -140px;}
.icone7_5 {	background-position: -92px -140px;}
.icone7_6 {	background-position: -116px -140px;}
.icone7_7 {	background-position: -140px -140px;}
.icone7_8 {	background-position: -164px -140px;}
.icone7_9 {	background-position: -188px -140px;}
.icone7_10 {	background-position: -212px -140px;}
.icone7_11 {	background-position: -236px -140px;}
.icone7_12 {	background-position: -260px -140px;}
.icone7_13 {	background-position: -284px -140px;}
.icone7_14 {	background-position: -308px -140px;}
.icone7_15 {	background-position: -332px -140px;}
.icone7_16 {	background-position: -356px -140px;}
.icone7_17 {	background-position: -380px -140px;}
.icone7_18 {	background-position: -404px -140px;}
.icone7_19 {	background-position: -428px -140px;}
.icone7_20, .iconeMaximizar {	background-position: -452px -140px;}


@media (max-width: 768px) {
	#idInterfaceVisualAreaBlocoInterno .barraBotoesNavegacao img,
	#idInterfaceVisualAreaBlocoInterno .barraBotoesNavegacaoInv img,
	#idInterfaceVisualAreaBlocoInterno .barraBotoesNavegacao a, 
	#idInterfaceVisualAreaBlocoInterno .barraBotoesNavegacao a:hover,
	#idInterfaceVisualAreaBlocoInterno .barraBotoesNavegacaoInv a, 
	#idInterfaceVisualAreaBlocoInterno .barraBotoesNavegacaoInv a:hover {
		border: 10px solid #FFFFFF;
	}
}

@media print {
	.barraBotoesNavegacao, .barraBotoesNavegacaoInv {
		display: none;
	}
}
