#idDivBlocoTextoBoasVindas {
	background-color: #414f55;/*#1276AF*/
	border-bottom: 1px solid #000;/*#3D5271*/
	color: #FFF;
	font-size: 0.85 em;
	text-align: center;
	padding: 10px 0;
	/* margin-top:10px;*/
}

#idDivBlocoTextoBoasVindasLinha02 {
    font-weight: bold;
}

#idDivBlocoTextoBoasVindasLinha03 > a {
    color: #FFFFFF;
    font-size: 1em;
}

#idDivBlocoCookies {
	font-family: helvetica, arial, trebuchet;
	text-align: center;
}

#idBlocoCookies {
	display: inline-table;
	/*    width: 50%;*/
}

#idDivBlocoCookiesCabecalho {
	background-color: #dfe7ed;/*#ADC9DF*/
	color: #000;/*#003464*/
	cursor: pointer;
	padding: 0.5em;
	/*margin: 0.5em;*/
}

.classDivLinhaCookies {
	padding: 0.25em 0 0.5em 2em;
	text-align: left;
}

.classSpanCookiesClasseNumero {
	font-weight: bold;
}

.classSpanCookiesNumeroRegistro {
	
}

.classSpanCookiesData {
	display: inline-table;
	white-space: nowrap;
	width: 18em;
}

/* elementos para pesquisa processual, formulário */
#idForm {
	margin: 0;
	padding: 0;
}

#idCampoPesquisarTempFormulario {
	border: 1px solid #9A9A9A;
	margin: 0.45em 0 0.25em 0;
}

#idSpanLinhaCampoBotaoFormulario {
	white-space: nowrap;
}

#idSpanLinhaCampoBotaoFormulario #idCampoPesquisarTempFormulario {
	color: #4C4F52;
	font-size: 0.8em;
	padding: 0.2em;
	width: 17em;
}
#idFormularioExtendidoBlocoOpcoes{
	text-align: left;
	margin: 0 0 0.5em;
}
#idFormularioOpcoesBloco{
	/*text-align: left;margin: 0 0 0.5em;*/
	/*margin: 1.25em 0 0.5em;*/
	/*background-color: #EFF6FB;*/
}
#idFormularioOpcoesOrdemCronologica, #idFormularioOpcoesProcessosSomenteAtivos, #idFormularioOpcoesProcessosSomenteEletronicos{
	padding: 0 0 0 1.5em;
}
.clsFormularioOpcoesEtiqueta{
	display: inline;
}
.clsFormularioCompactoParteAutorReuBloco{
	text-align: center;
}
.clsFormularioExtendidoParteAutorReuBloco {
    text-align: right;
}
#idParteNome, #idAdvogadoNome{
/*	width: 5em;*/
}
#idFormularioExtendidoParteAdvogadoFonetica .classDivFormularioExtendidoLinha{
	width: 18em;
}
#idFormularioExtendidoParteAdvogadoFonetica{
	display: block;
	padding: 0;
	margin: 0;
	width: 99%;
	text-align: left;
	min-height: 6.75em;
/*
*/
}
#idFormularioExtendidoParteAdvogado{
	width: 50%;
	display: inline-table;
	float: left;
/*
*/
}
/* fim, elementos para pesquisa processual, formulário */

/* elementos para pesquisa processual, fonetica */
#idDivFoneticaBloco {
	text-align: center;
	border: dotted 1px;
	padding: 0.25em;
	margin: 0.5em;
/*
	background-color: #EFF6FB;
	margin: 0;
	padding: 0;
*/
}
.clsFormularioExtendidoFoneticaBloco{	
	display: inline-table;
	width: 42%;
}
.clsFormularioCompactoFoneticaBloco{}
#idSpanFoneticaOpcoes {
/*
	width: 100%;
	display: inline-block;
*/
}

#idChkFoneticaContem {
	
}

#idChkFoneticaIgual {
	
}

#idChkFoneticaIniciaCom {
	
}

#idSpanFoneticaTextoExplicativoBloco {
	font-size: 0.9em;
}

#idSpanFoneticaTextoExplicativo {
	
}

#idSpanFoneticaTextoExplicativoL01 {
	padding-right: 0.25em;
}

#idSpanFoneticaTextoExplicativoL02 {
	/*display: block;*/
}

.clsSpanTextoVermelho {
	color: red
}
/* fim, elementos para pesquisa processual, fonetica */

/* elementos para pesquisa processual, detalhe */
#idDescricaoProcesso {
	background-color: #414f55;/*#1276AF*/
	background-repeat: no-repeat;
	border-top: 1px solid #FFFFFF;
	color: #FFFFFF;
	font-weight: bold;
	padding: 1em 0.25em 1em 0.25em;
	text-align: center
}
#idRecursoRepresentativoDaControversia, #idProcessoAfetadoRitoRecursosRepetitivos {
    background: #bccad2 none repeat scroll 0 0;
    border-color: red;
    border-style: solid;
    border-width: 0.25em;
    color: red;
    float: right;
    font-size: 1em;
    font-weight: bold;
    margin: -0.5em 0 0;
    padding: 0.4em 0.8em 0.4em 1em;
    border-radius: 0.5em;
}
#idSpanClasseDescricao {
	background-color: #414f55;/*#1276AF*/
}

#idDivAbas {
	display: block;
	background-color: #414f55;/*#1276AF*/
	font-size: 1.1em;
	/*height: 1.7em;*/
	/*era auto mas no IE 8 deu erro*/
	overflow: none;
	padding: 0 0 0 5px;
	/*hack para o IE7*/
	+padding: 0 0 10px 5px;
	border-style: none;
	margin-bottom: -1px;
	/*padding: 0.4em 0.4em 0.2em 0.4em; border-bottom-style:solid; border-bottom-width:1px; border-color: white white #C8CCD8 white; border-style: solid; border-width: 1px; border-bottom: 1px solid #B4C7DC; */
}
#idDivAbasConteudo {
	border-top-style: none;
	border-bottom: 1px solid #000;/*#1276AF*/
	border-left: 1px solid #000;/*#1276AF*/
	border-right: 1px solid #000;/*#1276AF*/
	background-color: #FFFFFF;
}

.classSpanAbaPesquisa {
	display: inline-table;
	border-bottom-style: none;
	vertical-align: bottom;
	/* text-decoration: none; background-color: #FFFFFF; border-right: 1px solid #C8CCD8; */
}

.classSpanAbaPesquisa a {
	font-family: helvetica, arial, 'sans-serif';
	font-size: 1em;
}

.classSpanAbaSelecionadaPesquisa {
	border-bottom-style: none;
	vertical-align: bottom;
	display: inline-table;
}

.classSpanAbaSelecionadaPesquisa a {
	font-family: helvetica, arial, 'sans-serif';
	font-size: 1em;
}

SPAN.classSpanAbaPesquisa A {
/*background-color: #ADC9DF;
background-image: url("/portal_stj/recursos/abaCor_fundo.png");
border: 1px solid #CED1D3;*/
	background-color: #dfe7ed;/*#C2D2E1*/
	border-top: 1px solid #003464;/*#003464*/
	border-right: 1px solid #003464;/*#003464*/
	border-left: 1px solid #003464;/*#003464*/
	border-radius: 0.55em 0.55em 0 0;
	color: #000;/*#003464*/
	float: left;
	margin-left: -1px;
	padding: 0.3em 0.2em;
	text-decoration: none;
	cursor: pointer;
}

SPAN.classSpanAbaPesquisa A:visited {
	color: #0C3F6E;
}

SPAN.classSpanAbaPesquisa A:link {
	color: #0C3F6E;
}

SPAN.classSpanAbaPesquisa A:hover {
	background-color: #c3d1d9;/*#357AB1*/
	background-repeat: repeat;
	color: #FFFFFF;
}

SPAN.classSpanAbaSelecionadaPesquisa A {
	background-color: #FFF;/*#c3d1d9 #FFFFFF*/
	border-color: #B4C7DC #B4C7DC white;
	border-radius: 0.55em 0.55em 0 0;
	border-style: solid;
	border-width: 1px;
	color: #4B5053;
	float: left;
	margin-left: -1px;
	padding: 0.3em 0.2em;
}

.classDivConteudoPesquisaProcessual {
	background-color: #FFFFFF;
	clear: both;
	font-size: 1em;
	padding: 0.5em 0;
	text-align: justify;
	border: none;
	min-height: 4em;
	overflow: hidden;
	/*overflow: auto;*/
	/* margin: 0em 0em 0em .25em; padding-bottom: 105px; border-style: solid; border-width: 1px; */
}
.clsProcessoDetalheBlocoMostra{
	width: 99%;
	display: inline-block;
	display: block\9\0;/*hack para IE9*/
}
#idDataAutuacaoCabecalho{	
	white-space: nowrap;
}
#idSpanClasseDescricaoNumeroRegistro {
	white-space: nowrap;
	background-color: #414f55;/*#1276af*/
}
#idSpanNumeroRegistro {}
#idDataPublicacaoInicial, #idDataPublicacaoFinal {
    width: 6em;
}
#idDataAutuacaoInicial, #idDataAutuacaoFinal{
	width: 6em;
}
#idPautaDataPublicacaoInicial, #idPautaDataPublicacaoFinal{
	width: 6em;
}
.classDivLinhaDetalhes {
	clear: both;
	/* border-style: solid; border-width: 1px; */
	display: block;
	overflow: auto;
	
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.classSpanDetalhesLabel {
	display: inline-block;
	vertical-align: top;
	/*float: left;*/
	padding: 0.3em 0 0 0;
	text-align: right;
	width: 35%;
/*	font-size: 0.9em;*/
}

.classSpanDetalhesTexto {
	display: inline-block;
	vertical-align: top;
	/*float: left;*/
	padding: 0.3em 0 0 0;
	text-align: left;
	font-weight: bold;
	width: 60%;
	margin: 0 0 0 0.4em;
}
#idDetalhesPartesAdvogadosProcuradores {
	margin-left: 6px;
	max-height: 12.5em;
	overflow-y: auto;
}
#idDetalhesPartesAdvogadosProcuradores::-webkit-scrollbar {
	width: 12px;
}
#idDetalhesPartesAdvogadosProcuradores::-webkit-scrollbar-track {
	background-color: #fafafa;
}
#idDetalhesPartesAdvogadosProcuradores::-webkit-scrollbar-thumb {
	background-color: #BFC3C6;
}
#idProcessoDetalhesBloco1, #idProcessoDetalhesBloco2, #idProcessoDetalhesBloco3, #idProcessoDetalhesBloco4{
	/*display: inline-block;
	width: 100%;*/
	display: block;
}
#idProcessoDetalhesBloco1, #idProcessoDetalhesBloco2, #idProcessoDetalhesBloco3{
	padding: 0.125em 0;
	border-bottom: 1px solid;
}
/* fim, elementos para pesquisa processual, detalhe */

/* elementos para pesquisa processual, processos */
.idBlocoLinhasProcesso {
	text-align: center;
}
.clssProcessoListaDetalhes{
	/*padding: 0 0 0 0.5em;*/
}
.idBlocoInternoLinhasProcesso {
	display: block;
	text-align: left;
}
.clsListaProcessoFormatoVerticalLinha{
	display: inline-block;
	padding: 0.1em 0 0 0;
	width: 100%;
	background-color: #c3d1d9;/*#ADC9DF*/
}
.clsListaProcessoFormatoVerticalBlocoExterno {
	padding: 0.25em 0.5em;
	text-align: center;
}
.clsBlocoProcessoUfNumeroRegistroDataAutuacaoTipo{
}
.classSpanProcessoUF {
}
.classSpanNumeroRegistro { /* width: 10em; */
}
.clsBlocoProcessoColuna{
	display: inline-block;
	text-align: left;
	font-weight: bold;
	padding-right: 0.25em;
}
.clsBlocoProcessoColuna1e2e3e4 {
	display:inline-block;
	padding: 0.75em 0;
	width: 80%;
}
.clsBlocoProcessoColuna1e2 {
	display: inline-block;
	text-align: center;
	width: 60%;
	vertical-align: top;
/*white-space: nowrap;*/
/*margin: 0.25em 0.5em 0.5em 0;*/
}
.clsBlocoProcessoColuna3e4{
	display: inline-block;
	text-align: center;
	width: 30%;
	/*white-space: nowrap;*/
}
.clsBlocoProcessoColuna1{
	width: 11.5em;
}
.clsBlocoProcessoColuna2{
	width: 10em;
}
.clsBlocoProcessoColuna3, .clsBlocoProcessoColuna4{
	width: 6.5em;
}
.clsBlocoProcessoColuna5 {
	vertical-align: top;
	display: inline-block;
	width: 15%;
	min-width: 3em;
}
#idListaProcessoFormatoVerticalCabecalho {
    font-weight: bold;
}
#idListaProcessoFormatoVerticalParteDetalhesCabecalho{
	vertical-align: top;
	text-align: center;
	padding: 0.75em 0;
}
.clsListaProcessoFormatoVerticalBlocoClaro{	
	background-color: #EFF6FB;/*#EFF6FB, #adc9df*/
}
.clsListaProcessoFormatoVerticalBlocoEscuro{
	background-color: #dfe7ed;/*#EFF6FB #EFF6FB, #adc9df*/
}
.clsProcessosListaFormatoVerticalLinha{
	text-align: left;
	display: block;
	padding: 0 0.5em;
}
.classSpanDataAutuacao {}

.clsListaProcessoParte {
	display: block;
	padding: 0 0.5em;
}
.clsListaProcessoParteNome {
    display: inline-block;
    width: 75%;
}
.clsListaProcessoParteTipo {
	display: inline-block;
    min-width: 7.5em;
    padding: 0 0 0 0.5em;
    width: 20%;
    vertical-align: top;
    color: #003366;
    /*font-weight: bold;*/
}
.listaProcessosPushBotoes{
	display: none;
}
#idPushMensagemBloco, #idPushMensagemForaLimiteBloco{
	max-width: 30em
}
.clssProcessoListaMostraParte {
	cursor: pointer;
	/*deixou de ser ícone para ser botão*/
	/*
	background: url("/recursos/imagens/usu.gif")
		no-repeat scroll center center #FFFFFF;
	display: inline-block;
	padding: 0 0.5em;
	width: 2em;
	height: 1.5em;
	vertical-align: top;
	*/
}
.clsProcessoListaParteIconeVazio{
	display: inline-block;
	width: 6em;
	height: 1em;
}
.clsProcessosListaUltimaFaseDataTextoBloco, .clsProcessosListaUltimaFaseDataTextoBloco{
	display: block;
}
.clsProcessosListaUltimaFaseDataTextoCabecalho, .clsProcessosListaEtiquetaCabecalho{
/*background: none repeat scroll 0 0 #EFF6FB;border: 1px solid;text-align: center;margin: 0.5em 0 0 0;display: block;*/
	font-size: 1.2em;
	display: block;
    font-weight: bold;
    margin: 0.5em 0 0;
    text-align: left;
	color: #003366;/*black*/
}
.clsProcessosListaAssuntosItem{
	padding: 0 0.1em;
}
/*clsProcessosListaAssuntosItensNNNN{}*/
.clsProcessosListaUltimaFaseDataTextoLinha, .clsProcessosListaAssuntosLinha{
/*border-bottom: 1px solid;border-left: 1px solid;border-right: 1px solid;display: block;text-align: left;padding: 0 0.5em;*/
	display: block;
    padding: 0 0.5em;
    text-align: left;
	color: black;
}
.clsProcessosListaUltimaFaseTexto, .clsProcessosListaUltimaFaseData{}
.clssProcessoListaParteBlocoCabecalho {
/*background: none repeat scroll 0 0 #EFF6FB;border: 1px solid;text-align: center;margin: 0.5em 0 0 0;*/
	font-size: 1.2em;
	font-weight: bold;
	color: #003366;/*black;*/
	margin: 0.5em 0 0;
	text-align: left;
}

.clssProcessoListaParteBlocoInterno {
/*border-bottom: 1px solid;border-left: 1px solid;border-right: 1px solid;*/
    max-height: 6em;
    overflow-y: auto;
	text-align: left;
	padding: 0.5em 0;
}

.clssProcessoListaParteBloco { /* max-width: 40em; */
	text-align: center;
}
#idProcessosComRestricaoVisualizacaoContagem {
    background-color: #ADC9DF;
    padding: 0.5em 0.75em;
    text-align: center;
}
/* fim, elementos para pesquisa processual, processos */

/* elementos para pesquisa processual, decisões */
.classSpanDecisaoTexto {}

.classBlocoDecisoes {
	padding: 0;
	margin: 0;
}
/* fim, elementos para pesquisa processual, decisões */

/* elementos da pesquisa processual, fases */
.classDivFaseLinha {
	border-bottom: 1px solid;
	text-align: left;
	margin: 0.25em;
	padding: 0.25em 0;
	/*   padding-left: 10em;   text-indent: -8.5em;*/
	/* margin-left:-5em; border-style: solid; border-width: 1px; */
}

.clsFaseDataHora {
	vertical-align: top;
	width: 25%;
	display: inline-block;
	text-align: right;
}

.classSpanFaseHora {
	display: inline-block;
}

.classSpanFaseData {
	display: inline-block;
	padding: 0.07em 0.25em 0.07em 0.07em;
	/* float: left; display: block; width: 20%; text-align: right; padding: 0px; */
}

.classSpanFaseTexto {
	vertical-align: top;
	font-weight: bold;
	padding: 0 0 0 0.5em;
	display: inline-block;
	max-width: 70%;
	word-wrap: break-word;
	/* word-wrap: break-word; overflow: scroll; */
	/* float: left; display: block; width: 75%; margin-bottom:5px; text-align: justify; padding-left: 6px; */
}
.classSpanLinguagemSimples {
	vertical-align: top;
	display: inline-block;
}

.clssSpanFaseTextoComLink {
	color: #2465A4;
	cursor: pointer;
}

/* fim, elementos da pesquisa processual, fases */

/* elementos para pesquisa processual, fases e links */
.classDivLinhaFaseDocumentos { /* margin: 0.5em; border: 1px solid; */
	text-align: center;
}

.clsLinhaFaseDocumentosBloco {
	border: 1px solid;
	display: inline-table;
    margin: 0.5em 5% 0.5em 25%;
    text-align: left;
    width: 70%;
}
/* Decisão monocrática */
.classDivLinhaDecisaoMonocratica {
	font-weight: bold;
	margin: 0 0 0 0.5em;
	padding: 0.25em 0 0.25em 2.5em;
	background: url("/recursos/imagens/dcm.gif") no-repeat left center;
}

.clsFaseDecisoesProcessoClasse {
	display: inline-table;
	padding: 0 0.25em 0 0;
	text-decoration: underline;
	white-space: nowrap;
}

.clsFaseDecisoesRegistroData {
	padding: 0 0.25em;
	white-space: nowrap
}

.classUlBlocoDecisoesMonocraticas {
	list-style-type: none;
	margin: 0 0 0 0.5em;
	padding: 0;
}
.clsDecisoesMonocraticasBloco{
	padding: 0.5em 0;
}
/*.classUlBlocoInternoDecisoesMonocraticas{list-style-type: none;*/
.clsDecisoesMonocraticasBlocoInternoLista {
	margin: 0;
	padding: 0 0 0 1em;
}
/*.classUlBlocoFaseMonocraticas{list-style-type: none;*/
.clsFaseMonocraticasBloco {
	margin: 0;
	padding: 0 0.25em 0 1em;
}
/*.classUlBlocoInternoListaFaseMonocraticas{list-style-type: none;*/
.clsFaseMonocraticasBlocoInternoLista {
	margin: 0;
	padding: 0 0 0 1em;
}
/* sem utilidade
.classUlBlocoListaFaseMonocraticas{
	list-style-type: none;
	margin: 0;
	padding: 0.25em 0 0.25em 2.5em;
}
*/
/*.classLiBlocoLinhaFaseMonocraticas{list-style-type: none;*/
.clsFaseMonocraticasLinha {
	padding: 0.3em 0 0.3em 4em;
}
/*.classLiBlocoDecisoesMonocraticas{list-style-type: none;*/
.clsDecisoesMonocraticasLinha {
	margin: 0 0 0 2em;
	/*padding: 0.25em 0 0.25em 2.5em;background: url("/recursos/imagens/dcm.gif")no-repeat left top;*/
}
.clsDecisoesMonocraticasLinha a {
	display: inline-block;
	padding: 0.3em 0.3em 0.3em 1em;
}
.clsDecisoesMonocraticasTopoLink{
	background: url("/recursos/imagens/dcm.gif") no-repeat left top;
	margin: 0 0 0 0.5em;
	padding: 0.25em 0 0.25em 2.5em;
	font-weight: bold;
	text-decoration: underline;
}
/*.classLiBlocoFaseMonocraticas{list-style-type: none;*/
.clsFaseMonocraticasBlocoInterno {
	margin: 0;
	padding: 0.25em 0 0.25em 2.5em;
}

/*Inteiro Teor Revista*/
/*.classUlBlocoDecisoesIntTeorRevista{list-style-type: none;*/
/*dubplicado
.clsDecisoesIntTeorRevistaBloco {
	margin: 0 0 0 0.5em;
	padding: 0;
}
*/
/* duplicado
.classUlBlocoInternoDecisoesIntTeorRevista{
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 1em;
}
*/
/*.classUlBlocoFaseIntTeorRevista{list-style-type: none;*/
.clsFaseIntTeorRevistaBloco {
	margin: 0;
	padding: 0 0.25em 0 1em;
}
/*.classUlBlocoInternoListaFaseIntTeorRevista{list-style-type: none;*/
.clsFaseIntTeorRevistaBlocoInternoLista {
	margin: 0;
	padding: 0 0 0 1em;
}
/*desconhecido
.classUlBlocoListaFaseIntTeorRevista{
	list-style-type: none;
	margin: 0;
	padding: 0.25em 0 0.25em 2.5em;
}
*/
/*.classLiBlocoLinhaFaseIntTeorRevista{list-style-type: none;*/
.clsFaseIntTeorRevistaLinha {
	padding: 0.3em 0 0.3em 4em;
}

.clsFaseIntTeorImagemDocumentosTodos {
	padding: 0.3em 0;
	font-weight: bold;
}

.clsFaseIntTeorImagemDocumentosTodosProcessoClasse {
	display: inline-block;
	padding: 0 0.25em 0 0;
	white-space: nowrap;
	text-decoration: underline;
}

.clsFaseIntTeorImagemDocumentosTodosRegistroData {
	display: inline-block;
	padding: 0 0.25em 0 0;
	white-space: nowrap;
	text-decoration: underline;
}

.clsFaseDecisaoIntTeorRevistaLinhaTodosDocumentosPetClSgProc {
	display: inline-block;
	padding: 0 0.25em 0 0;
	white-space: nowrap;
	text-decoration: underline;
}

.clsFaseDecisaoIntTeorRevistaLinhaTodosDocumentosRegistroData {
	display: inline-block;
	padding: 0 0.25em 0 0;
	white-space: nowrap;
	text-decoration: underline;
}

.clsDecisoesIntTeorRevistaLinha {
	padding: 0.3em 0 0.3em 4em;
}
/*classLiBlocoLinhaDecisoesIntTeorImagem*/
.clsDecisoesIntTeorImagemBlocoListaLinha {
	padding: 0.3em 0 0.3em 4em;
}
/*.classLiBlocoDecisoesIntTeorRevista{list-style-type: none;*/
.clsDecisoesJulgamentoEletronicoLinhaTodosDocumentos{
	background: url("/recursos/imagens/ejulg.png") no-repeat left top;
	margin: 0 0 0 0.5em;
	padding: 0.25em 0 0.25em 2.5em;
	font-weight: bold;
}
.clsDecisoesIntTeorRevistaLinhaTodosDocumentos {
	background: url("/recursos/imagens/rev.gif")
		no-repeat left top;
	margin: 0 0 0 0.5em;
	padding: 0.25em 0 0.25em 2.5em;
	font-weight: bold;
}

.clsDecisoesIntTeorRevistaBloco {}
/*.classLiBlocoFaseIntTeorRevista{list-style-type: none;*/
.clsFaseIntTeorRevistaLinhaTodosDocumentos {
	font-weight: bold;
	margin: 0;
	padding: 0.3em 0;
}

/*Inteiro Teor Imagem*/
/*.classUlBlocoDecisoesIntTeorImagem{list-style-type: none;}*/
.clsDecisoesIntTeorImagemBloco {
	margin: 0 0 0 0.5em;
	padding: 0;
}
/*.classUlBlocoInternoDecisoesIntTeorImagem{list-style-type: none;}*/
.clsDecisoesIntTeorImagemBlocoInternoLista {
	margin: 0 0 0 0.5em;
	padding: 0 0 0 1em;
}
/*.classUlBlocoFaseIntTeorImagem{list-style-type: none;*/
.clsFaseIntTeorImagemBloco {
	margin: 0;
	padding: 0 0.25em 0 1em;
}
/*.classUlBlocoInternoListaFaseIntTeorImagem{list-style-type: none;*/
.clsFaseIntTeorImagemBlocoInternoLista {
	margin: 0;
	padding: 0 0 0 1em;
}

.classUlBlocoListaFaseIntTeorImagem {
	list-style-type: none;
	margin: 0;
	padding: 0.25em 0 0.25em 2.5em;
}
/*.classLiBlocoLinhaFaseIntTeorImagem{list-style-type: none;*/
.clsFaseIntTeorImagemBlocoInternoLinha {
	padding: 0.3em 0 0.3em 4em;
}
/*.classLiBlocoDecisoesIntTeorImagem{list-style-type: none;}*/
.clsDecisoesIntTeorImagemBlocoInterno {
	font-weight: bold;
	margin: 0;
	padding: 0.25em 0 0.25em 2.5em;
	background: url("/recursos/imagens/ita.gif")
		no-repeat 0 top;
}
/*.classLiBlocoFaseIntTeorImagem{	list-style-type: none;*/
.clsFaseIntTeorImagemBlocoInterno {
	margin: 0;
	padding: 0.25em 0 0.25em 2.5em;
}

.clsBlocoDocumentosCabecalho { /* max-width: 30em; */
	padding: 0.25em 0.25em 0.25em 2.5em;
	font-weight: bold;
	border-bottom: 1px solid;
	text-align: left;
	display: block;
	min-height: 1.8em;
}

.clsBlocoDocumentosCabecalhoJulamentoEletronico{
	background-image: url("/recursos/imagens/ejulg.png");
	background-repeat: no-repeat;
	background-position: 0.25em 0.25em; 
	background-color: #EFF6FB;
}
.clsBlocoDocumentosCabecalhoRevEletIntTeorAcor {
	background-image: url("/recursos/imagens/rev.gif");
	background-repeat: no-repeat;
	background-position: 0.25em 0.25em; 
	background-color: #EFF6FB;
}

.clsBlocoDocumentosCabecalhoIntTeorAcorImagem {
	background-image: url("/recursos/imagens/ita.gif");
	background-repeat: no-repeat;
	background-position: 0.25em 0.25em; 
	background-color: #EFF6FB;
}
.clsBlocoDocumentosCabecalhoDecisaoMonocraticaTexto{
	float: left;
}
.clsBlocoDocumentosCabecalhoDecisaoMonocratica {
	background-image: url("/recursos/imagens/dcm.gif");
	background-repeat: no-repeat;
	background-position: 0.25em 0.25em; 
	background-color: #EFF6FB;
	
}
/*Livrão Web*/
.clsBlocoDocumentosCabecalhoLivraoWebTexto{	
	float: left;
}
.clsBlocoDocumentosCabecalhoLivraoWeb {
	height: 1.25em;
	background-color: #EFF6FB;
}

.classDivFaseLivraoDocumentosTitulo {
	padding: 0.3em 0 0.3em 0.25em;
	font-weight: bold;
}

.classDivFaseLivraoDocumentosAcordao {
	background: url("/recursos/imagens/acordao.gif")
		no-repeat left 50%;
	margin: 0 0 0 0.5em;
	padding: 0.3em 0 0.3em 2em;
}

.classDivFaseLivraoDocumentosMinistro {
	background:
		url("/recursos/imagens/ministro.gif")
		no-repeat left 50%;
	margin: 0 0 0 1.5em;
	padding: 0.3em 0 0.3em 2em;
}

.classDivFaseLivraoDocumentosSessaoLink {
	background: url("/recursos/imagens/horario.gif")
		no-repeat left 50%;
	margin: 0 0 0 1.5em;
	padding: 0.3em 0 0.3em 2em;
	font-weight: bold;
}
.classDivFaseLivraoDocumentosPronunciamento {
	padding: 0.3em 0 0.3em 2em;
	margin: 0 0 0 1.5em;
}
.classDivFaseLivraoDocumentosPronunciamentoLink {
    padding: 0 0 0 2.5em;
}
.classDivFaseLivraoDocumentosAcordaoLink {
	background: url("/recursos/imagens/acordao.gif") no-repeat scroll left 50% rgba(0, 0, 0, 0);
	font-weight: lighter;
	margin: 0 0 0 0.5em;
	padding: 0 0 0 2em;
}
.classDivFaseLivraoDocumentosAcordaoLink > a {
    font-size: 1.25em;
}
.classDivBlocoFaseDocumentos {
	margin: 0 0 0 1em;
	padding: 0 0.1em 0.25em 0;
}
/* fim, elementos para pesquisa processual, fases e links */

/* elementos de pessoas da pesquisa processual */
#idBlocoPessoas {
	text-align: center;
}

#idBlocoPessoasInterno { /*max-width: 35em;text-align: center;*/
	display: inline-table;
	text-align: left;
}
#idPessoasPreSelecionadasBloco {
    border: 1px dashed;
    display: inline-block;
}
/*.clsLinhaPessoa input{background-color: white;vertical-align: top;padding: 0.25em 0 0.25em 2.5em;}*/
.clsLinhaPessoa {
	padding: 0.5em 1em;
	background-color: white;
	text-align: left;
}

.clsPessoaCheckBox {
	vertical-align: top;
	display: inline-table;
	padding: 0 0.5em;
}

.clsPessoa {
	/*white-space: nowrap; overflow: hidden;display: inline-block;max-width: 22em;vertical-align: middle;width: 85%;
	display: inline-table;
	padding: 0 0.5em 0 0;*/
	background-color: white;
	text-align: left;
	width: 85%;
}

.clsPessoaNome { /* width: 85%; display: inline-table;*/
	text-overflow: ellipsis;
	text-overflow: ellipsis;
	text-decoration: underline;
}

.clsPessoaCodigo {
	
}

#idDivLinhaMarcarDesmarcarTodos {
	text-align: center;
	padding: 0.25em 0 0.25em 0.25em;
}
/* fim, elementos de pessoas da pesquisa processual */

/* elementos da pesquisa processual, petições */
#idDivPeticoes{
	width: 99%;
}
#idDivCabecalhoPeticoes {
	font-weight: bold;
	text-align: left;
}

#idDivCabecalhoPeticoesNum {
	
}

#idDivCabecalhoPeticoesTipo {
	
}

#idDivCabecalhoPeticoesProtocolo {
	
}

#idDivCabecalhoPeticoesProcessamento {
	
}

#idDivCabecalhoPeticoesQuem {
	text-align: center;
}

.classDivLinhaPeticoes {
	text-align: left;
	border-top: 1px solid;
	margin: 0 0.25em 0 0.25em;
}

.clsBlocoPeticaoNumTipoProtProc { 
	width: 18em;
	width: 50%;
	display: inline-block;
}

.classSpanLinhaPeticoesNum {
	padding: 0.2em;
	text-align: center;
	width: 45%; /*8em;*/
	display: inline-block;
}

.classSpanLinhaPeticoesTipo {
	padding: 0.2em;
	text-align: center;
	width: 45%; /*8em;*/
	display: inline-block;
}

.classSpanLinhaPeticoesProtocolo {
	padding: 0.2em;
	text-align: center;
	width: 45%; /*8em;*/
	display: inline-block;
}

.classSpanLinhaPeticoesProcessamento {
	padding: 0.2em;
	text-align: center;
	width: 45%; /*8em;*/
	display: inline-block;
}

.classSpanLinhaPeticoesQuem {
	vertical-align: top;
	padding: 0.2em;
	width: 45%;
	display: inline-block;
	/* padding: 0.2em; direction:rtl; clear:left; word-wrap: normal; white-space: normal; */
}
/* fim, elementos da pesquisa processual, petições */

/* elementos para pesquisa processual, push */
#idProcessoDetalhePushBotaoIncluir {
	margin: 0.45em 0 0.25em;
	padding: 0.5em 0.2em;
}

.clsProcessoDetalhePushBotoes {
	text-align: center;
}

#idPushDireitaItem2 {
	background: url('/recursos/imagens/preferencias.png') center no-repeat;
	display: inline-table;
}

#idPushLoginBloco {
	background-color: #FFF;
	font-size: 1em;
	margin: 0;
	padding: 0.5em 0.75em;
	text-align: center;
}

#idPushLoginBlocoInterno {
	display: inline-table;
	background-color: #EFF6FB;
	padding: 0.5em;
	border: 1px solid;
}

.clsPushLoginLinha {
	margin: 0 0 0.5em;
	text-align: left;
}

.clsFormularioLabel {
	font-weight: bold;
}

.clsPushLoginFormularioLabel {
	display: inline-table;
	width: 4em;
}

.clsPushLoginBotoesLinha {
	text-align: center;
	border-top: 0.1em solid;
}

.clsPushLoginFormularioBlocoInput {
	display: inline-table;
	padding: 0 0 0 1.5em;
}

.clsPushLoginFormularioBlocoInput input {
	text-align: right;
}

.clsPushLoginFormularioBotao {
	padding: 0.5em 0;
	text-align: center;
}

.clsFormularioBotao {
/*	border: 1px solid #003464;
	border-radius: 0.5em 0.5em 0.5em 0.5em;*/
	cursor: pointer;
	/*background-color: #C2D2E1; color: #003464;*/
}

.clsPushLoginFormularioBotao {
	font-size: 0.9em;
	margin-bottom: 0.25em;
	margin-top: 0.45em;
	padding: 0.5em 0.2em;
}

#idPushLoginObservacoes {
	padding: 0.5em;
	text-align: center;
}
/* fim, elementos para pesquisa processual, push */
.clsImpressaoCabecalho{	
	font-size: 1.2em;
    font-weight: bold;
    padding: 0.5em 0 0.5em 1em;
    text-align: left;
    border-bottom: 1px solid;
    border-top: 1px solid;
}
#idVisualizarImpressaoLinha{
	text-align: center;
}
#idVisualizarImpressaoEscalarFonte > span {
    display: inline-block;
    width: 2em;
}
#idVisualizarImpressaoEscalarFonte img {
    width: 1em;
}
#idVisualizarImpressaoBloco {
    white-space: nowrap;
}
.clsProcessoDetalheLinha{
	text-align: center;
	margin: 0;
    padding: 0.25em 0.75em;
}
#idImpressaoPaginaTitulo{
	display: none;
}
#idProcessoDetalhePushBotaoIncluir {
	margin: 0.45em 0 0.25em;
	padding: 0.5em 0.2em;
}
#idDivFormularioExtendidoLinhaBotaoNovaConsulta, #idPessoaListaBotoesBloco, #idProcessoListaBotoesBloco, #idProcessoDetalheBotoesBloco1, #idProcessoDetalheBotoesBloco2, #idProcessoListaBotoesCopiarColar, #idProcessoListaPushBloco{
    background-color: #EFF6FB;
    text-align: center;
    padding: 0.5em 0.75em;
}
#idCopiarColarTabelaBlocoInterno {
    display: block;
    max-width: 60em;
}
#idBotaoLimparFormularioExtendido, #idBotaoPesquisarFormularioExtendido, #idBotaoPesquisarRefinandoFormularioExtendido{
	width: 25%;
	min-width: 6em;
}
#idCertidaoAndamentoBotao, #idImpressaoBotao, #idProcessoDetalhePushBotaoIncluir, #idBotaoFormularioExtendidoNovaConsulta, #idBotaoRefinar, #idProcessoListaPushLoginMostra, #idProcessoListaPushCadastro, #idProcessoListaPushLoginFormularioBotaoEntrar, #idProcessoListaExportacaoRefinar, #idProcessoListaExportacaoNovaConsulta{
	/*width: 25%;*/
	width: 10em;
	min-width: 6em;
}
#idBotaoMarcarTodos, #idBotaoDesmarcarTodos, #idBotaoPesquisarMarcados{
	width: 25%;
	min-width: 6em;
}
.clsComboFormatoPdfHtml{
	font-size: 0.8em;
}
.clsBlocoDocumentosCabecalhoJulamentoEletronicoTexto{}
.clsBlocoDocumentosCabecalhoRevEletTexto{
	float: left;
}
.clsBlocoDocumentosCabecalhoRevEletFormato, .clsBlocoDocumentosCabecalhoDecisaoMonocraticaFormato, .clsDecisaoMonocraticaLinkSimplesFormato {
	/*display: none;*/
	float: right;
}
.clsBlocoDocumentosCabecalhoDecisaoMonocraticaFormato select{
	display:none;
}
.clsProcessoDetalhePaginacaoBloco {
    text-align: center;
}
/**Lista de processos no formato horizontal**/
#idListaProcessoFormatoHorizontalCabecalho{
	background-color: #ADC9DF;
	font-weight: bold;	
}
#idListaProcessoFormatoHorizontalParteCabecalho{
	padding:0.5em  0;
}
.clsListaProcessoFormatoHorizontalLinha {
    padding: 0;
    margin: 0;
    text-align: left;
    font-family: trebuchet ms;
    font-size: 0.9em;
}
.clsListaProcessoFormatoHorizontalBloco{
	padding: 0.25em;
}
.clsListaProcessoFormatoHorizontalBlocoClaro{
	/*background-color: #EFF6FB;*/
}
.clsListaProcessoFormatoHorizontalBlocoEscuro{
	background-color: #EFF6FB;
}
.clsListaProcessoFormatoHorizontalNUP{
	display: block;
	text-align: left;
}
.clsListaProcessoFormatoHorizontalRegistro, .clsListaProcessoFormatoHorizontalRegistroCabecalho{
	display: block;
	text-align: left;
	padding: 0.5em 0;
}
.clsLinhaProcessosFormatoHorizontaFisicoEletronico{
	padding: 0.5em 0;
}
.clsListaProcessoFormatoHorizontalNumeroRegistroAutuacaoTipoNUPPartes, .clsListaProcessoFormatoHorizontalNumeroRegistroAutuacaoTipoNUPPartesCabecalho {
    display: inline-block;
    width: 85%;
}
.clsListaProcessoFormatoHorizontalNumeroRegistroAutuacaoTipoNUP {
	vertical-align: top;
    display: inline-block;
    width: 40%;/*19em;18.5*/
    /*text-align: center;*/
    padding: 0.5em  0;
}
.clsListaProcessoFormatoHorizontalNumeroRegistro {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    text-align: left;
}
.clsListaProcessoFormatoHorizontalAutuacaoTipo {
    display: inline-block;
    width: 35%;
    text-align: left;
    padding: 0;
}
.clsListaProcessoFormatoHorizontalDataAutuacao, .clsLinhaProcessosFormatoHorizontaFisicoEletronico{
	display: block;
}
.clsListaProcessoFormatoHorizontalParte{
	padding: 0 0 0 0.25em;
	display: inline-block;
}
.clsListaProcessoFormatoHorizontalParteDetalhes {
    display: inline-block;
    width: 59%;/*29.5em;24 25.25 30*/
    overflow: hidden;
    text-align: left;
    padding: 0.5em 0;
}
.clsListaProcessoFormatoHorizontalPartesBlocoInterno{
    display: inline-block;
    /*width: 24.85em;25 19.25, 20.75 25.5*/
    text-align: left;
}
.clsListaProcessoFormatoHorizontalPartesBlocoInternoVisivel{
	width: 28.75em;/*23.5*/
}
.clsListaProcessoFormatoHorizontalDetalhes{
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.clsListaProcessoFormatoHorizontalParteTipo{
	font-style: italic;
	padding: 0 0 0 0.25em;
}
.listaProcessosPartesBotoes{
    width: 4.15em;	
}
.clsListaProcessoFormatoHorizontalParteBlocoInterno {
	display: inline-block;
    max-height: 8em;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}
.clsProcessosListaFormatoHorizontalDetalhesEtiqueta{
	display: inline-block;
	font-weight: bold;
	vertical-align:top;
	width: 13em;
}
.clsProcessosListaFormatoHorizontalDetalhesValor{
	display: inline-block;
	width: 35em;/*70%*/
}
.clsProcessosListaFormatoHorizontalDetalhesLinha{
	display: block;
	padding: 0.25em 0 0 0.25em;
}
.clsListaProcessoFormatoHorizontalDetalhesBloco{
	padding: 0 0 1em 0;
}
.clsListaProcessoFormatoHorizontalUF a, .clsListaProcessoFormatoHorizontalRegistro a, .clsListaProcessoFormatoHorizontalNUP a, .classSpanProcessoUF a, .classSpanNumeroRegistro a{
	color: #003366
}
#idFormularioExtendidoQuebraDeLinha{
	clear:left;
	height: 0.1em;
}
#idFormularioExtendidoParteAdvogadoRefinamento{
	width: 100%;
}
.clsFormularioExtendidoAdvogadoRefinamentoItens, .clsFormularioExtendidoParteRefinamentoItens {
	display:inline-block;
    max-height: 10em;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    font-size: 0.9em;
}
.clsParteAdvogadoRefinamentoItem{
	padding: 0 0 0 1em;
}
#idCopiarParaCSV{
    width: 99%;
    height: 30em;
}
#idCopiarColarTabelaBlocoExterno{
	overflow: scroll;
	height: 30em;
}
/* nova cara do formulário*/
.clsFormularioExtendidoBlocoExterno{
	padding: 0 0 0.5em 0;
	text-align: left;
}
#idDivLinhaFormulario {
    font-size: 1em;
    margin: 0;
    padding: 0.5em 0.25em;
    text-align: center;
}
.clsFormularioExtendidoBlocoLabel {
    border-bottom: 1px solid;
    display: inline-block;
    font-weight: bold;
    margin: 0 0 0.5em;
    padding: 0.5em 0 0.25em;
    text-align: left;
    width: 99%;
}
.clsFormularioExtendidoBlocoImagemMaisMenos{
	padding: 0 .25em 0 0;
}
.clsFormularioExtendidoBlocoColuna {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}
#idFormularioExtendidoBlocoNumeroColuna1, #idFormularioExtendidoBlocoNomeColuna1, #idFormularioExtendidoBlocoOrigemColuna1 {
	float: left;
}
#idFormularioExtendidoBlocoNumeroColuna2 {
	margin: 0 0 0.1em 0;
}
.clsFormularioExtendidoBlocoColuna1, .clsFormularioExtendidoBlocoColuna2{}
.classDivFormularioExtendidoLinha {
    margin: 0 0 0.5em 1em;
    text-align: left;
}
.clsFormularioExtendidoAjudaIcone{
	padding:0 0 0 0.25em;
	display:inline-block;
	width:2em;
	height:1.85em;
    background: url("/recursos/imagens/botao_ajuda_vermelho.png") no-repeat right center;
    vertical-align: bottom;	
}
#idFormularioExtendidoBlocoCodigoNumero, #idFormularioExtendidoBlocoJulgador {
    text-align: left;
}
#idParteFoneticaOpcoesBloco, #idAdvogadoFoneticaOpcoesBloco	{
	display: inline-block;
	margin: 0.25em 0 0 0;
}
#idFormularioExtendidoParteAdvogadoFonetica .classDivFormularioExtendidoLinha{
width: auto;	
}
.classSpanFormularioExtendidoLinhaExplicacao{
	/*display: inline-block;*/
	color: red;
}
.classInputFormularioExtendido > input {
    width: 14em;
}
.clsFormularioExtendidoParteAutorReuBloco{
text-align: left;	
}
#idOrgaosOrigemConectivoOu, #idOrgaosOrigemConectivoE{
	width: auto;
}
#idFormularioExtendidoBlocoOrigemColuna1{
	width: 60.5%;
}
#idFormularioExtendidoBlocoOrigemColuna2{
	width: 37.5%;
}
#idOrgaosOrigem, #idOrigemUF, #idJulgadorOrgao, #idJulgadorMinistro, #idTipoRamosDireito, #idSituacoes{
	border: 1px solid #C0C0C0;
	background-color:white;
	height: 6em;
	overflow: auto;
}
#idJulgadorOrgaoMarcarDesmarcar, #idJulgadorMinistroMarcarDesmarcar, #idOrgaosOrigemMarcarDesmarcar, #idOrigemUFMarcarDesmarcar, #idTipoRamosDireitoMarcarDesmarcar, #idSituacoesMarcarDesmarcar{
	padding: 0.5em 0 0 0;
}
#idJulgadorOrgao, #idJulgadorMinistro{
	width: 95%;
}
#idOrgaosOrigem{
	width: 95%;
}
.clsOrgaosOrigemItem, .clsJulgadorOrgaoItem, .clsJulgadorMinistroItem, .clsRamosDireitoItem{
	cursor: pointer;
}
#idOrgaosOrigemBlocoConectivoOuE{
	display: inline-block;
}
#idPushMensagemAtencao{
	color: red;
	font-weight: bold;
}
.clsComboFoneticaPhonosBlocoParte, .clsComboFoneticaPhonosBlocoAdvogado {
    display: inline-block;
}
#idComboFoneticaPhonosAdvogado, #idComboFoneticaPhonosParte {
    width: 95%;
}
#idQuantidadeMinimaTermosPresentesParte, #idQuantidadeMinimaTermosPresentesAdvogado {
    width: 2em;
}
#idUsuarioPerfilLinha {
    background: #f1f2f2 none repeat scroll 0 0;
    border: 1px dashed #c8ccd8;
    margin: 0 0 0.5em;
    padding: 0.5em 2em;
}
#idUsuarioPerfilSobre {
    padding: 0.5em 0;
}
#idUsuarioPerfilColuna01 {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}
#idUsuarioPerfilColuna02 {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}
#idUsuarioPerfilTipolinha {
	background-color: #414f55;
    color: white;
    padding: 1em;
}
#idUsuarioPerfilTipolinha > select {
    background-color: #536177;
    border: medium none;
    color: white;
    padding: 0.25em;
    max-width: 95%;
}
#idUsuarioPerfilTipolinha > select > option{
	padding: 0.25em 1em;
}
#idUsuarioPerfilTipolinha > label, #idUsuarioPerfilTipolinha > span {
	display: inline-block;
    font-weight: normal;
}
#idDivPautas {width: 100%;}
#idCabecalhoPautaDataJulgamento, #idCabecalhoPautaHoraJulgamento, #idCabecalhoPautaOrgaoJulgamento{
	font-weight: bold;
}
.clsLinhaItemPautas{
	text-align: center;	
}
.clsDivLinhaPautas, #idCabecalhoPautas{
	padding: 0 0 0.5em 0;
}
.clsLinhaItemPautas{
    display: inline-block;
    width: 24%;
}
.clsLinhaPautasDocumento{
	background-image: url("/recursos/imagens/pesquisa_icone_pdf.jpg");
	background-repeat: no-repeat;
}
input[type="radio"]{
	-webkit-appearance: none;
	box-shadow: 0px 0px 1px 1px black;
	width: 1em;
	height: 1em;
    display: inline-block;
    margin: 0.25em 0.25em 0 0.5em;
    border: 1px solid black;
    border-radius: 50%;
}
input[type="checkbox"] {
    box-shadow: 0px 0px 1px 1px black;
    display: inline-block;
    margin: 0.25em 0.25em 0 0.5em;
}
input:checked {
    border: 4px solid black;
}
.classSpanPaginacaoPaginaTextoInterno input {
    line-height: 1.5em;
}
.clsListaProcessoFormatoVerticalPermissaoVisualizacaoMensagem, .clsListaProcessoFormatoHorizontalPermissaoVisualizacaoMensagem {
    display: block;
    color: red;
    padding: 0.25em 0 0 0;
    text-align: center;
}
.clsFaseMonocraticasBlocoInterno a {
	display: inline-block;
}
#idSpanMensagemPesquisaInvalida {
	display: block;
	padding: 0.5em;
	text-align: center;
	color: #FF0000; 
	font-weight: bold;
	font-style: italic;
}
.clsMensagemLink {
	color: #414f55;
	display: block;
	margin: 1em 0;
	font-size: 1.2em;
	font-weight: bold;
	cursor: pointer;
	padding-left: 1.5em;
	background: url("/recursos/imagens/botao_ajuda_vermelho.png") no-repeat left center;
}
.clsMensagemConteudo {
	display: none;
	position: absolute;
	background-color: #fafafa;
	line-height: 1.5;
	padding: 0.5em 1em;
	border: 1px solid #c0c0c0;
    -moz-box-shadow:0 0.5em 1em 0 rgba(0,0,0,0.2);
    -webkit-box-shadow:0 0.5em 1em 0 rgba(0,0,0,0.2);
    box-shadow:0 0.5em 1em 0 rgba(0,0,0,0.2);
}
.clsMensagemConteudo b.destaque {
	color: #ff0000;
}
.clsFechar {
	float: right;
	width: 1em;
	height: 1em;
	cursor: pointer;
	color: #ff0000;
	font-weight: bold;
}
.divPesqSatisfacaoLeft  {
	width: 204px;
}
.divPesqSatisfacaoTopo {
	margin-top: 85px;
}
/* 
.btn-linguagem-simples {
	padding: 0;
	font-size: 1.2em;
}*/
/*
.hintLinguagemSimples {
	position: absolute;
	background-color: #ffffff;
	border: 1px solid #c0c0c0;
	padding: 1em;
	right: 0;
	-moz-box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2);
}*/
@media print {
	#idVisualizarImpressaoLinha {
		display: none;
		visibility: hidden;
	}
	#idImpressaoPaginaTitulo{
		display: block;
		font-size: 1.2em;
    	font-weight: bold;
	}
	.titulo_pagina{
		border: 0px none;
	}
	#idDescricaoProcesso{
		border: 1px solid #1276AF;
		background-color: #EFF6FB;
		color: black;
	}
	#idVisualizarImpressaoData{
		text-align: right;
		display: block;
		padding: 0.5em 0 0 0;
	}
	#idDivBotoesLargura, #divRodape, #idInterfaceVisualMinimoRodape{
	/*interface visual antiga, interface visual responsiva*/
		display: none;
	}
	#idInterfaceVisualArea{
		padding: 0;
	}
	#idInterfaceVisualAreaAreaTitulo{
		width: 95%;
		max-width: 100%;
	} 
	#idInterfaceVisualAreaBlocoExterno{
		 margin: 0;
	}
	#idInterfaceVisualAreaAreaTitulo{
		display: block;
	}
	#idInterfaceVisualBlocoDeMenuBannersNavegacaoAplicacao{
		padding-top: 0;
	}
	#idUsuarioPerfilTipolinha{
		display: none;
	}
	a[href]:after {
		content: none !important;
	}
	div[vw] {
		display: none!important;
	}
	table {
		width:99%!important;
	}
	.classDivLinhaPaginacao * {
		display: none;
	}
	.divPesqSatisfacaoTopo {
		display: none;
	}
	#idInterfaceVisualAreaAreaTitulo {
		width: 99%;
		max-width: 99%;
		margin: 0;
	}
}
