@media (max-width: 768px) {

	body {
  		font:1em Verdana,sans-serif;
  		overflow-x: hidden;
	}
	
	body * {
    	-webkit-text-size-adjust: 100%;
    	-moz-text-size-adjust: 100%;
    	-ms-text-size-adjust: 100%;
	} 
   #idInterfaceVisualCorpo {
        width: 100%;
        min-width: 320px;
    }

	#idInterfaceVisualCabecalhoBlocoExterno {
		display: none;
	}

	#idInterfaceVisualMinimoCabecalhoBlocoExterno {
    	display: block;
    	position: absolute;
    	width: 100%;
    	background-color: #C3D1D9;
    	border-bottom: 1px solid #ADBDC8;
    	height: 56px;
    	margin: auto;
    	top: 0;
	    z-index: 2;
    }

	.cabecalho_link, .cabecalho_link:hover {
    	background-image: url("/recursos/interfacevisual/internet/imagem/logoMedioSetaParaDireita.png");
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 56px;
    line-height: 23px;
    width: auto;
    padding-left: 77px;
    font-size: 1.2em;
    position: static;
    z-index: 3;
    font-family: MuseoLight,Verdana,sans-serif;
    text-decoration: none;
    color: #575756;
    font-weight: bold;
    }
.cabecalho_link span.menor{
  display: block;
  font-size: 0.8em;
}
.cabecalho_link span.maior{
  font-size: 1.2em;
  margin-top: 5px;
  display: block;
}    	#idInterfaceVisualArea {
		padding: 0;
	}
	
	#idInterfaceVisualAreaRota {
		display: none;
	}
	
	#idInterfaceVisualAreaEsquerdaBlocoMenuBanners {
		display: none;
	}
	#idInterfaceVisualAreaTituloBlocoDireito {
		display: none;
	}	
	#idInterfaceVisualBlocoDeMenuBannersNavegacaoAplicacao {
		/*padding: 0;*/
		margin: 0;
	}
	
	#idInterfaceVisualAreaAreaTitulo {
		width: 100%;
		max-width: 100%;
	}
	
	#idInterfaceVisualAreaTitulo{
  		margin: 0.25em;
  		font-size: 1.5em;
  		height: auto;
	}
	
	#idInterfaceVisualRodape {
		display: none;
	}
	
	#idInterfaceVisualMinimoRodape {
		display: block;
	}
	
	#idInterfaceVisualMinimoRodapeEndereco, #idInterfaceVisualMinimoRodapeCidade, #idInterfaceVisualMinimoRodapeStjCEP {
		display: none;
	}
	
	#idInterfaceVisualMinimoRodapeStjContato {
		font-size: 1em;
	} 
	#idInterfaceVisualMinimoCabecalhoBlocoEsquerdo {
		display: block;
		float: left;
  		width: 56px; 
  		height: 56px; 
	}
	#idInterfaceVisualMinimoCabecalhoEsquerdoMostraMenu a {
    	display: block;
    	float: left;
    	height: 56px;
    	width: 56px;
    	text-decoration: none;
    	background-image: url("/recursos/interfacevisual/internet/imagem/icone-menu.png");
    	background-position: center;
    	background-repeat: no-repeat;
   }
	#idInterfaceVisualMinimoCabecalhoBlocoCentro {
		display: block;
		float: left;
	}
	#idInterfaceVisualMinimoCabecalhoBlocoDireito {
		display: block;
		float: right;
		height: 56px;
	}
	
	
	.barraBotoesNavegacao img,
	.barraBotoesNavegacaoInv img,
	.barraBotoesNavegacao a,
	.barraBotoesNavegacaoInv a,
	.barraBotoesNavegacao a:hover,
	.barraBotoesNavegacaoInv a:hover,
	.barraBotoesNavegacao span,
	.barraBotoesNavegacaoInv span {
		margin: 0;	
	}
	
	
	.lupaTopo, .lupaTopo:hover {
    	background-image: url("/recursos/interfacevisual/internet/imagem/icone-lupa.png");
    	background-position: center;
    	background-repeat: no-repeat;
    	display: block;
    	float: right;
    	position: static;
    	cursor: pointer;
    	text-decoration: none;
    	width: 48px;
    	height: 56px;
    	z-index: 3;
	}
	.telefoneTopo, .telefoneTopo:hover {
    	background-image: url("/recursos/interfacevisual/internet/imagem/icone-telefone.png");
    	background-position: center;
    	background-repeat: no-repeat;
    	display: block;
    	float: right;
    	position: static;
    	cursor: pointer;
    	text-decoration: none;
    	width: 48px;
    	height: 56px;
    	z-index: 3;
	}

	.localizacaoTopo, .localizacaoTopo:hover {
    	background-image: url("/recursos/interfacevisual/internet/imagem/icone-localizacao.png");
    	background-position: center;
    	background-repeat: no-repeat;
    	display: block;
    	float: right;
    	position: static;
    	cursor: pointer;
    	text-decoration: none;
    	width: 48px;
    	height: 56px;
    	z-index: 3;
	}
	
	
#idInterfaceVisualMinimoCabecalhoMenuSuperior {
	max-width: 480px;
}
#idInterfaceVisualMinimoCabecalhoMenuSuperior #menumobile {
	display: none;
	clear: both;
	background-color:#FFFFFF;
	margin-top:1px;
	border-top: 1px solid #ADBDC8;
  	position:relative;
    -moz-box-shadow:0px 5px 10px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow:0px 5px 10px 0px rgba(0,0,0,0.2);
    box-shadow:0 5px 10px 0 rgba(0,0,0,0.2);
}
#idInterfaceVisualMinimoCabecalhoMenuSuperior ul {
	padding: 0;
	margin: 0;
	width: 100%;
	max-width: 480px;
    font-family:MuseoLight,Verdana,sans-serif;
}
#idInterfaceVisualMinimoCabecalhoMenuSuperior ul ul {
	display: none; 
	width: 100%;
}
#idInterfaceVisualMinimoCabecalhoMenuSuperior li {
	display: block;
	position: relative;
}
#idInterfaceVisualMinimoCabecalhoMenuSuperior li a.link_menu, #idInterfaceVisualMinimoCabecalhoMenuSuperior li a.link_menu:hover {
	text-decoration: none;
	display: block;
	background-color: #FFFFFF;
	padding: 0.5em 2em;
	margin:0;
	font-size: 1em;
	border-bottom: 1px solid #C3D1D9;
	color: #000000;
} 
#idInterfaceVisualMinimoCabecalhoMenuSuperior li li a.link_menu {
}
#idInterfaceVisualMinimoCabecalhoMenuSuperior li li li a.link_menu {
}
#idInterfaceVisualMinimoCabecalhoMenuSuperior span.mais {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0.25em;
	right: 0.5em;
    background-image: url('/recursos/imagens/glyphicons-halflings.png');
    background-position: -452px -66px;
    background-repeat: no-repeat;
    cursor: pointer;
}
#idInterfaceVisualMinimoCabecalhoMenuSuperior a.linkAtivo + span.mais {
	display: block;
	position: absolute;
	top: 0.25em;
	left: 0.5em;
	background-position: -428px -66px;
}
#idInterfaceVisualMinimoCabecalhoMenuSuperior li a.ativo, #idInterfaceVisualMinimoCabecalhoMenuSuperior li a.ativo:hover {
	background-color: #DFE7ED;
}
#idInterfaceVisualMinimoCabecalhoMenuSuperior li a.linkAtivo,#idInterfaceVisualMinimoCabecalhoMenuSuperior li a.linkAtivo:hover {
	font-weight: bold;
	top: 0;
	background-color:#C3D1D9;
	text-transform: uppercase;
	font-size: 1em;
}
.formularioDiv {
	width: auto;
	margin: 0.5em auto;
	max-width: 100%;
}
.formularioDiv .linhaform {
	padding: 0.25em;
}
.formularioDiv .label {
	font-weight: bold;
	display: block;
	width: auto;
	max-width: 100%;
	text-align: left;
	vertical-align: middle;	
	font-size: 0.85em;
}
.formularioDiv input[type=text] {
	vertical-align: middle;	
    font-family: Verdana,sans-serif;
	display: inline-block;
	width: 100%;
}
.formularioDiv select {
	width: 100%;
	vertical-align: middle;	
    font-family: Verdana,sans-serif;
	display: inline-block;
 }
.formularioDiv .botoesForm {
	text-align:right;
}
.formularioDiv input[type=button], .formularioDiv input[type=submit], .formularioDiv input[type=reset] {
	background-color: #BCCAD2;
    border: none;
    display: inline-block;
    font-family: Verdana,sans-serif;
    padding: 6px;
    cursor: pointer;
}
#idInterfaceVisualRodapeBlocoVersao {
	margin: 0;
}
.seloPesquisaSatisfacao {
	display:none;
}
#dv_pesquisa_satisfacao {
	display : none;
}
}
@media (max-width: 480px) {
	.cabecalho_link, .cabecalho_link:hover {
    	background-image: none;
    	padding-left: 0;
	}
	.cabecalho .lupaTopo, .cabecalho .lupaTopo:hover,
	.lupaTopo, .lupaTopo:hover,
	.telefoneTopo, .telefoneTopo:hover,
	.localizacaoTopo, .localizacaoTopo:hover {
	width: 35px;
}
}