/*
CSS para qualquer site.
Definições dos elementos comuns de qualquer site: elementos de formulário, caixas de mensagem, barras de navegação, links, etc... 
*/
a {
   text-decoration:none;
   color:#2465A4;
   cursor: pointer;
}
a:hover {
   text-decoration:underline;
}
a img { 
	border: none;
}
/* elementos para formulário */
#idDivLinhaFormulario {
	font-size: 1em;
	margin: 0;
	padding: 0.5em 0.75em;
	text-align: center;
	/*background-color: #EFF6FB;*/
}

.classDivFormularioExtendidoLinha {
	text-align: left;
	margin: 0 0 0.5em 0;
}

#idSpanLabelFormulario {
	display: none;
}

.classSpanLabelFormulario {
	border: 0 solid red;
	color: #003466;
	text-decoration: none;
}

#idSelectTipoPesquisaFormulario { /* border: none; */
	font-size: 0.8em;
}

.classSelectTipoPesquisaFormulario {
	/* border: 1px solid #999999; color: #003466; text-decoration: none;
         width: 22.4em;
         height: 2em; */
	margin-bottom: 0.3em;
	padding: 0.1em;
	width: 23.4em;
}

#idBotaoPesquisarFormulario { /* height: 1.6em;
    vertical-align: middle;
    width: 7em;*/
	margin-top: 0.2em;
	padding: 0.06em 0.2em;
	vertical-align: middle;
}

.classBotaoPesquisarFormulario {
	background-color: #C2D2E1;
	border: 1px solid #003464;
	color: #003464;
	cursor: pointer;
	margin-bottom: 0.25em;
	margin-top: 0.45em;
	padding: 0.5em 0.2em;
	font-size: 0.9em;
	border-radius: 0.5em;
}

.classBotaoPesquisarFormulario:hover {
	background-color: #357AB1;
	background-repeat: repeat;
	color: #FFFFFF;
}

/* Formulário Extendido */
#idDivBlocoFormularioExtendido {
	/*background-color: #EFF6FB;*/
}

.classDivLinhaFormularioExtendido {
	padding: 0.25em 0 0.5em 0;
}

.classSpanFormularioExtendidoLabel {
	font-weight: bold;
	display: inline-block;
	height: 1.55em;
}

.classInputFormularioExtendido {
	display: block;
	padding: 0 0 0 0;
}

.classInputFormularioExtendido input {
	text-align: right;
}

.classSpanFormularioExtendidoLinhaExplicacao {
	/* white-space: nowrap; */
	display: block;
}

#idClasse {}

#idDivFormularioExtendidoLinhaBotao {
	padding: 0.5em 0 0.5em 0;
	text-align: center;
}

#idDivFormularioExtendidoLinhaBotaoNovaConsulta {
	/*	padding: 0.5em 0 0.5em 0;*/
	text-align: center;
	background-color: #EFF6FB;
}
/* classes para formulários migrados do 3_default */
.formularios_label {
	font-family: verdana, arial, helvetica, 'sans-serif';
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	color: #003466;
}

.formularios_label a {
	font-family: verdana, arial, helvetica, 'sans-serif';
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	color: #003466;
}

.formularios_campo {
	font-family: verdana, arial, helvetica, 'sans-serif';
	font-size: 11px;
	font-weight: normal; /*font-weight: regular;*/
	text-decoration: none;
	color: #003466;
	padding-left: 5px;
	border: 1px #999 solid;
	margin-left: 4px;
	margin-right: 4px;
}

.formularios_texto {
	font-family: verdana, arial, helvetica, 'sans-serif';
	font-size: 11px;
	font-weight: normal;
	text-align: left;
	text-decoration: none;
	color: #595656;
}

.formularios_texto_verm {
	font-family: verdana, arial, helvetica, 'sans-serif';
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
	color: #9D362E;
}

.formularios_link {
	font-family: trebuchet ms, arial, helvetica, 'sans-serif';
	font-size: 11px;
	/*font-weight: none;*/
	text-decoration: none;
	color: #2465A4;
	text-decoration: underline;
}

.formularios_link:hover {
	font-family: trebuchet ms, arial, helvetica, 'sans-serif';
	font-size: 11px;
	/*font-weight: none;*/
	text-decoration: none;
	color: #2465A4;
	text-decoration: underline;
}

.formularios_botao {
	font-size: 11px;
	font-family: Verdana, arial, sans-serif;
	border: none;
	width: 110px;
    padding:0.25em;
	color: #575756;
	background-color: #C5D6E6;
	margin-top: 15px;
	margin-bottom: 10px;
	cursor: pointer;
}
/* fim, elementos para formulário */

/* elementos para mensagem */
/*
   ATENÇÃO:
      obj_texto_label_processos está depreciado.
   USO:
      quando vários blocos visualmente iguais utilizar a classe clsBlocoMensagem
      quando bloco único utilizar as definições por ID.
*/

.obj_texto_label_processos {
	background-color: #F1F2F4;
	border: 1px dashed #C8CCD8;
	font-family: verdana, arial, helvetica, 'sans-serif';
	/*font-size: 11px;*/
	color: #8B8B8B;
	padding: 10px;
	margin: 10px 0;
	overflow: auto;
	line-height: 1.5em;
}
.obj_texto_label_processos .texto_apresentacao {
	color: #8B8B8B;
}
.obj_texto_label_processos span {
	display: inline-block;
	vertical-align: top;
}
.obj_texto_label_processos .bloco_interno {
	display: inline-block;
}

.obj_texto_label_processos .interno_direito {
	margin-left: 5px;
}

.obj_texto_label_processos .interno_esquerdo {
	margin-right: 5px;
}

.obj_texto_label_processos .interno_superior {
	margin-bottom: 5px;
}

.obj_texto_label_processos .interno_inferior {
	margin-top: 5px;
}

.obj_texto_label_processos img {
	float: left;
}
.obj_texto_label_processos .destaque {
	font-weight: bold;
	color: #ff0000;
}
span.destaque {
	font-size: 11px;
}
.obj_texto_label_processos a {
	font-family: verdana, arial, helvetica, 'sans-serif';
	font-weight: bold;
	text-decoration: none;
}
.obj_texto_label_processos a.link_com_imagem {
	vertical-align: middle;
}
.obj_texto_label_processos a:hover {
	text-decoration: underline;
}

.clsBlocoMensagem {
	/*cursor: pointer;*/
	background-color: #313131;
	color: #FFFFFF;
	padding: 0.5em;
	text-align: center;
}

.clsMensagemBloco, #idDivBlocoMensagem { /*margin: 0.5em;*/
	background-color: #414f55;/*#ADC9DF #1276AF*/
	color: #FFF;/*#003464;*/
	cursor: pointer;
	padding: 0.5em;
	text-align: center;
}

#idSpanMensagem {
	/*background-color: #1276AF;*//*#adc9df;*/
	text-align: center;
	font-size: 0.9em;
}

#idSpanMensagemTermo {
	background-color: #414f55;/*#adc9df #1276AF*/
	font-weight: bold;
}
/* fim, elementos para mensagem */

/* elementos para texto boas vindas */
#idDivBlocoTextoBoasVindas {
	background-color: #313131;
	border-bottom: 1px solid #3D5271;
	color: #FFF;
	font-size: 0.85 em;
	text-align: center;
	padding: 10px 0;
	/* margin-top:10px;*/
}
/* fim, para texto boas vindas */

/* elementos para paginacao */
.classDivLinhaPaginacao {
	line-height: 3em;
	padding: 0.5em 0 0.5em 0;
	text-align: center;
	/* erro no chrome display: inline-block; */
}

.classDivLinhaPaginacao a {
	text-decoration: none;
}
.classDivBlocoPaginacaoTopo {}
.classDivBlocoPaginacaoBase {}
.classSpanPaginacaoPaginaTextoInterno {
	display: inline-table;
	text-align: center;
	white-space: nowrap;
	width: 13em;
}

.classSpanPaginacaoPaginaTextoInterno input {
	text-align: right;
	width: 2em;
}

.classSpanPaginacaoPrimeiraPaginaTexto {}
.classSpanPaginacaoProximaPaginaTexto {}
.classSpanPaginacaoUltimaPaginaTexto {
	
}
.classSpanPaginacaoPrimeiraPagina {
	background: url('/recursos/imagens/primeiro_documento.gif') center
		no-repeat;
	display: inline-block;
	width: 3em;
	cursor: pointer;
}
.classSpanPaginacaoPaginaAnterior {
	background: url('/recursos/imagens/documento_anterior.gif') center
		no-repeat;
	display: inline-block;
	width: 3em;
	cursor: pointer;
}
.classSpanPaginacaoProximaPagina {
	background: url('/recursos/imagens/proximo_documento.gif') center
		no-repeat;
	display: inline-block;
	width: 3em;
	cursor: pointer;
}
.classSpanPaginacaoUltimaPagina {
	background: url('/recursos/imagens/ultimo_documento.gif') center
		no-repeat;
	display: inline-block;
	width: 3em;
	cursor: pointer;
}
.classSpanPaginacaoImagensEsquerda {
	display: inline-block;
	width: 7em;
	vertical-align: top;
}
.classSpanPaginacaoImagensDireita {
	display: inline-block;
	width: 7em;
	vertical-align: top;
}
.classImgPaginacaoPrimeiraPagina {}
.classImgPaginacaoPaginaAnterior {}
.classImgPaginacaoProximoPagina {}
.classImgPaginacaoUltimaPagina {}
/* fim, elementos para paginacao */

/* elementos comuns */
#idSpanConteudoCentro { /* comentado porque deu erro no IE 8 */
	/* background-color: #EFF6FB; */
	/* display:block; margin-top: 5px; border-top: 5px; */
	
}
.classDivLinhaRegistroNaoEncontrado {
	padding: 0.3em 0 0.3em 2em;
}
.clssDisplayBlock, .clsDisplayBlock {
	display: block;
	background-color: #FFFFFF;
}
.clssDisplayNone, .clsDisplayNone {
	display: none;
}
.clssDisplayInline {
	display: inline;
}
/* fim, elementos comuns */

/* bloco principal das páginas */
.interno_conteudo_secao {
	display: block;
	/*overflow: auto;*/
}

/* estilos referentes a caixa de alerta */
.interno_conteudo_alerta {
    font-size: 11px;
    color: #666666;
    background-color: #f4f4f4;
    padding: 10px;
    margin: 10px 15px 20px 15px;
    border: 1px dashed #c0c0c0;
    line-height: 16px;
    overflow: hidden;
}
.interno_conteudo_alerta_icone {
    float: left;
    padding-right: 10px;
    display:inline-block;
}
.interno_conteudo_alerta p {
    margin: 0;
    padding: 0;
    padding-top: 5px;
}
.interno_conteudo_alerta img{
    border:0;
}
.interno_conteudo_alerta_pdf {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    padding: 0 8px;
    width: 456px;
    float: left;
}
.interno_conteudo_alerta_logoadobe {
    float: right;
    display:inline-block;
}
.interno_conteudo_alerta_obs {
    font-size: 11px;
    color: #666666;
    background-color: #f4f4f4;
    padding: 15px;
    margin: 20px 15px 20px 15px;
    border:2px solid #e9e9e9;
}
.interno_conteudo_alerta_obs span{
    line-height: 18px;
}
.interno_conteudo_alerta_obs span.bege {
    color: #8f6f0f;
    font-size: 12px;
    font-weight:normal;
}

/* estilo da div de alerta pequena e alinhada a direita */
.interno_conteudo_alerta_box {
    font-size: 11px;
    float:right;
}
.interno_conteudo_alerta_box img.interno_conteudo_alerta_icone_box {
    float: left;
    display:inline-block;
    padding: 4px 10px 2px 0;
}
.interno_conteudo_alerta_box p {
    margin: 0;
    padding: 0;
    padding-top: 5px;
}
.interno_conteudo_alerta_box img{
    border:0;
}
.interno_conteudo_alerta_txt_box {
    border-left: 1px solid #ffffff;
    padding: 5px 8px 10px 8px;
    margin:0;
    width: 140px;
    float: left;
    overflow:auto;
}
/* formulario de pesquisa - exemplo: inteiro teor*/
.formulario2 input[type=text] {
	margin: 2px;
	border: 1px solid #c0c0c0;
	padding: 2px;
	font-family: verdana, arial, helvetica, 'sans-serif';
}
.formulario2 input[type=button], .formulario2 input[type=submit], .formulario2 input[type=reset] {
	margin: 2px;
	border: 1px solid #c0c0c0;
	padding: 2px 4px;
	cursor: pointer;
}
.formulario2 select {
	margin: 2px;
	border: 1px solid #c0c0c0;
	padding: 1px;
	font-family: verdana, arial, helvetica, 'sans-serif';
}

.formulario2 .formularios_label {
	font-family: verdana, arial, helvetica, 'sans-serif';
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #003466;
}

.formulario2 .formularios_label a {
	font-family: verdana, arial, helvetica, 'sans-serif';
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #003466;
}

.interno_conteudo_barra_acoes #interno_conteudo_barra_acoes_nova_pesquisa {
	margin: 10px 2px 2px 2px;
	border: 1px solid #c0c0c0;
	background-color: #dddddd;
	padding: 2px 4px;
	font-size: 13px;
	font-family: Arial;
	text-decoration: none;
}

/* Definições para páginas de inteiro teor e revista eletrônica */

div.link_pesquisa {
	overflow: auto;
	display: block;
	margin: 10px 0;
}

div.link_pesquisa img {
	float: left;
	margin-right: 10px;
}

div.link_pesquisa a {
	text-decoration: none;
	font-weight: bold;
	font-family: Verdana, Sans-serif;
}
.arvore_documentos {
	line-height: 1.5em;
	font-size: 10pt;
	display: block;
/*	float: left;*/
	width: 400px;
}
.arvore_documentos a {
	text-decoration: none;
}
.preferencias {
	margin-top: 20px;
	float: right;
	width: 80px;
	border: 1px dashed #C8CCD8;
	padding: 5px;	
	color: #003466;
}
.preferencias span {
	display: block;
	clear: both;
	vertical-align: middle;
	padding: 2px;
	height: 17px;
}
.preferencias .titulo {
	font-weight: bold;
}
.preferencias input {
	margin: 0 3px 0 0;
}
/**********/

hr {
	/*clear: both;*/
	border-top: 1px solid #C8CCD8;
	border-left: none;
	border-bottom: none;
	border-right: none;
	display: block;
}
.alerta_adobe img {
	float: left;
	margin-right: 10px;
}
.alerta_adobe span {
	display: inline-block;
	text-align: left;
}
.alerta_adobe {
	display: block;
	vertical-align: middle;
	text-align: center;
	font-size: 11px;
	padding: 10px;
	border-top: 1px dashed #C8CCD8;
	margin-top: 10px;
}
.formularioDiv {
	width: 100%;
	margin: 0.5em auto;
	max-width: 100%;
}
.formularioDiv .linhaform {
	padding: 0.25em;
}
.formularioDiv .label {
	font-weight: bold;
	display: inline-block;
	width: 150px;
	max-width: 30%;
	text-align: right;
	vertical-align: middle;	
}
.formularioDiv input[type=text] {
	vertical-align: middle;	
    font-family: Verdana,sans-serif;
	display: inline-block;
	width: 60%;
}
.formularioDiv input[type=text].campoNumerico {
	vertical-align: middle;	
    font-family: Verdana,sans-serif;
	display: inline-block;
	width: 20%;
}

.formularioDiv select {
	width: 60%;
	vertical-align: middle;	
    font-family: Verdana,sans-serif;
	display: inline-block;
 }
.formularioDiv .botoesForm {
	text-align:right;
}
.formularioDiv input[type=button], .formularioDiv input[type=submit], .formularioDiv input[type=reset] {
	background-color: #BCCAD2;
    border: none;
    display: inline-block;
    font-family: Verdana,sans-serif;
    padding: 6px;
    cursor: pointer;
}

/*Enunciados administrativos*/
.lista_enunciados {
    font-size: 13px;
    line-height: 20px;
    margin: 25px 50px;
}
.lista_enunciados .data_orgao {
    color: #993300;
    font-weight: bold;
    margin-bottom: 1em;
}
.enunciado .numero {
    font-weight: bold;
}
.enunciado .texto {
	margin-bottom: 2em;
}
.headerSemBarra {
	background-color:#C3D1D9;
	height:56px;
	line-height:23px;
	padding-left: 23px;
	font-size:2em;
	font-family:MuseoLight,Verdana,sans-serif;
	color:#575756;
	font-weight:bold;
	vertical-align: middle;
}
td.loginSemBarra {
	background-color:#C3D1D9;
}
td.loginSemBarra div {
	background-color:#C3D1D9;
	color:#575756;
	display: block;
	float:right;
	margin-top: 10px;
	margin-right: 10px;
}
#idInterfaceVisualRodapeVaiPara {
	display: none;
}
#idInterfaceVisualRodapeAvaliacao {
	display: inline-block;
/*    margin-top: 2px;*/
}
.divTabela,.divTable {
	display: table;
}
.divLinha,.divRow {
	display: table-row;
}
.divCelula,.divCell {
	display: table-cell;
}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    max-width: 1280px;
}
