#idCabecalhoDireitaItem2, #idInterfaceVisualMinimoCabecalhoDireitaItem2 {
	background: url('/recursos/imagens/icone_config_branco.png') center no-repeat;
	display: inline-block;
}
#idCabecalhoDireitaItem3, #idInterfaceVisualMinimoCabecalhoDireitaItem3 {
	background: url('/recursos/imagens/icone_ajuda_branco.png') center no-repeat;
	display: inline-block;
}

#idCabecalhoDireitaItem4, #idInterfaceVisualMinimoCabecalhoDireitaItem4 {
	background: url('/recursos/imagens/icone_home_branco.png') center no-repeat;
	display: inline-block;
}
#idPesquisaProcessualPreferenciasIcone, #idPesquisaProcessualAjudaIcone, #idPesquisaProcessualHomeIcone{
/*width: 1.8em;height: 1.8em;*/
    display: inline-block;
    cursor: pointer;
    margin: 0;
    padding: 0.25em 0 0 0;
    vertical-align: top;
}
#idPesquisaProcessualSatisfacaoPesquisa{
	display: none;
}
.clsPesquisaProcessualPreferenciasIcone {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 7em;	
    height: 2em;
    text-align: left;
}
/*
#idPesquisaProcessualAjudaItens {
    display: none;
	background-color: #f1f2f2;
    border: 1px solid red;
    position: relative;
    z-index: 50;
    width: 24em;
    top: 0.6em;
    left: -18em;
    padding: 0.25em 0.25em 0.5em 0.25em;
}
*/
#idPesquisaProcessualAjudaItens {
    display: none;
    background-color: #f1f2f2;
    border: 1px solid red;
    position: absolute;
    z-index: 50;
    width: 24em;
    top: 90%;
    left: auto;
    right: -1em;
    padding: 0.25em 0.25em 0.5em 0.25em;
}
#idPesquisaProcessualAreaTituloIcones {
    padding: 1em 0 0 0 0;
}
#idPesquisaProcessualAjudaItens img{
    position: absolute;
	left: 20em;
    top: -0.78em;
}
#idPesquisaProcessualAjudaItens div{
	padding: 0.25em 0.25em 0 0.25em;
}
#idInterfaceVisualAreaTituloBlocoDireito {
    padding: 1em 0 0 0 0;
	display: inline-block;
}
#idInterfaceVisualAreaTituloBlocoDireito img {
    cursor: pointer;
    padding: 0.25em 0.25em 0 0;
    width: 2em;
}
@media only screen and (min-width : 320px) and (max-width : 767px) {
    #idBotaoPesquisarRefinandoFormularioExtendido {
        width: 45%;
    }
    #idInterfaceVisualAreaTituloBlocoEsquerdo h2 {
        font-size: 1em;
        margin: 0 0 0 0.5em;
    }
    #idInterfaceVisualAreaTitulo {
        margin: 0 1% !important;
    }
    #idInterfaceVisualAreaBlocoExterno {
        margin: 0 1% 2%;
        position: relative;
    }
    .clsFormularioExtendidoBlocoColuna1, .clsFormularioExtendidoBlocoColuna2 {
        width: 95%;
    }
    #idBotaoLimparFormularioExtendido, #idBotaoPesquisarFormularioExtendido{
    	width: 45%;
    }
    #dv_pesquisa_satisfacao {
    	display: none;
	}
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
	.clsListaProcessoFormatoHorizontalDetalhes{
		width: 95%;
	}
	.clsListaProcessoFormatoHorizontalDetalhes{
		text-align: right;
	}
	.clsListaProcessoFormatoHorizontalNumeroRegistroAutuacaoTipoNUPPartes{
		width: 99%;
	}
	.clsListaProcessoFormatoHorizontalNumeroRegistroAutuacaoTipoNUP, .clsListaProcessoFormatoHorizontalParteDetalhes, .clsListaProcessoFormatoHorizontalNumeroRegistroAutuacaoTipoNUPPartesCabecalho {
	    width: 99%;
	}
}
@media only screen and (min-width : 481px) and (max-width : 670px) {
	.clsListaProcessoFormatoHorizontalDetalhes{
		width: 95%;
	}
	.clsListaProcessoFormatoHorizontalDetalhes{
		text-align: right;
	}
	.clsListaProcessoFormatoHorizontalNumeroRegistroAutuacaoTipoNUPPartes{
		width: 99%;
	}
	.clsListaProcessoFormatoHorizontalNumeroRegistroAutuacaoTipoNUP, .clsListaProcessoFormatoHorizontalParteDetalhes {
	    width: 49%;
	}
}
@media only screen and (min-width : 768px){
	#idUsuarioPerfilTipolinha > select {
	    max-width: 40%;
	}
}
@media only screen and (max-width : 768px){
	.divPesqSatisfacaoTopo {
		margin-top: 1px;
		margin-right: 1px;
	}
}